npm install @mui/material @emotion/react @emotion/styled
npm install react-router-dom
npm install @mui/icons-material
npm install react-number-format
npm install react-redux
npm install @reduxjs/toolkit
npm install --save react-window
npm install react-device-detect --save

material ui icons list
https://github.com/google/material-design-icons/issues/729
https://gist.github.com/AmirOfir/daee915574b1ba0d877da90777dc2181
https://gist.github.com/AmirOfir/daee915574b1ba0d877da90777dc2181
